html, body, p, h1, h2, h3, h4, h5, li, td, tr, a {
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;

}
html body {
  text-align: center;
  background: url("/assets/images/mainbg_oil.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 0.875em;
}

.img-circle {
    height: 140px;
    width: 140px;
    border-radius: 100px;
}

.app-nav {
  position: fixed;
  left: 1%;
  top: 2%;
  margin-left: -1px;
  margin-top: -2px;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-unstyled li {
  float: left;
}

.list-unstyled li a {
  display: block;
  width: 100px;
}

a, a:visited {
  text-decoration: none;
}

/*main view*/

.main-name {
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.main {
  width: 340px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -165px;
  margin-top: -275px;
  /*background: rgba(195, 195, 195, 0.40);*/
  /*background: rgba(28, 16, 1, 0.40);*/
}

/*About view*/
.about-header {
  position: fixed;
  left: 90%;
  top: 0%;
  margin-left: -1px;
  font-weight: bold;
  /*margin-top: -275px;*/
  /*position: fixed;
  left: 90%;
  top: 1%;
  margin-left: -10px;
  margin-top: px;*/
}

.about-article {
  height: 80%;
  width: 90%;
  position: fixed;
  left: 5%;
  top: 12%;
  /*margin-left: -165px;*/
  /*margin-top: -275px;*/
  background: rgba(28, 16, 1, 0.40);
}

/*Skills view*/

.skills-header {
  position: fixed;
  font-weight: bold;
  left: 1%;
  top: 3%;
  margin-left: -1px;
  /*margin-top: -275px;*/
  /*position: fixed;
  left: 90%;
  top: 1%;
  margin-left: -10px;
  margin-top: px;*/
}

.skills-aside {
  height: 80%;
  width: 340px;
  position: fixed;
  left: 1%;
  top: 12%;
  margin-left: -1px;
  /*margin-top: -275px;*/
  background: rgba(195, 195, 195, 0.40);
}

.skills-nav {

}

.skills-nav ul {
  list-style-type: none;
  display: inline;
}

.skills-nav ul li {
  padding: 10px;
}

.skills-nav ul li:hover {
  background: #5788c9;
  cursor: pointer;
}
.skillsActive {
  background: #5ea375;
}

.skills-article {
  height: 80%;
  width: 70%;
  position: fixed;
  left: 24.5%;
  top: 12%;
  /*margin-left: -165px;*/
  /*margin-top: -275px;*/
  background: rgba(28, 16, 1, 0.40);
}
