html, body, p, h1, h2, h3, h4, h5, li, td, tr, a {
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;

}
html body {
  text-align: center;
  background: url("/assets/images/mainbg_oil.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 0.875em;
}

.main-nav {
  position: absolute;
  left: 1%;
  top: 2%;
  margin-left: -1px;
  margin-top: -2px;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-unstyled li {
  float: left;
}

.list-unstyled li a {
  display: block;
  width: 100px;
}

.main-name {
  font-weight: bold;
}


.welcome {
  width: 340px;
  height: 615px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -165px;
  margin-top: -275px;
}

a, a:visited {
  text-decoration: none;
}
