<!--Skill -->
  <section>
    <header class="skills-header">
      <h1>skills</h1>
    </header>

    <aside class="skills-aside">
      <nav class="skills-nav">
        <ul>
          <li ng-repeat="skill in skills" ng-class="{skillsActive: isActive(skill)}" ng-click="setSkill(skill)">{{skill}}</li>
        </ul>
      </nav>
    </aside>
    <article class="skills-article">
      <h2>{{skill}}</h2>
      <!-- <table>
        <thead>
          <th>Test</th>
        </thead>
        <tbody>
          <tr>
            <td>Hello</td>
          </tr>
        </tbody>
      </table> -->
    </article>
  </section>
